/* Estilos padrão */
:root {
  --main-cinza: #CCCCCC;
  --main-vermelho: red;
  --main-amarelo: yellow;
  --main-azul: blue;
  --main-branco: #FFFFFF;
  --main-preto: #000000;
  --main-rosa: pink;
}

* {
  box-sizing: border-box;
}

body {
  background: url(../img/fundo.jpg);
  background-position: center center;
  background-size: cover cover;
  padding: 0;
  margin: 0;
  font-weight: 300;
}

body,
input {
  font-family: "Teko", sans-serif;
}

main {
  width: 80vw;
  height: 80vh;
  margin: 10vh 8vw 10vh 12vw;
  display: flex;
  gap: 1vw;
}

.robotron {
  background: url(../img/estrutura.png) no-repeat;
  background-position: center center;
  margin: 0;
  flex-basis: 40%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.robo {
  height: 110%;
  z-index: 1;
  position: absolute;
  left: -20%;
}

.botoes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botoes h2 {
  text-transform: uppercase;
  text-align: center;
}

.alterar:hover {
  background: var(--main-branco);
  color: var(--main-preto);
}

.titulo {
  transform: rotate(180deg);
  font-weight: 500;
  font-size: 130px;
  position: absolute;
  bottom: 7rem;
  left: -1rem;
  line-height: 0.8;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: rgba(255, 255, 255, 0.8);
}

.box {
  background: rgba(0, 0, 0, 0.6);
  clip-path: polygon(
    calc(100% - 30px) 0,
    100% 30px,
    100% calc(100% - 30px),
    calc(100% - 30px) 100%,
    30px 100%,
    0 calc(100% - 30px),
    0 30px,
    30px 0
  );
  border-left: 5px solid var(--main-cinza);
  height: 80%;
}

/****************************** Equipamentos *****/

.equipamentos {
  flex-basis: 32%;
}

.montador {
  height: 100%;
}

.montador-conteudo {
  padding: 2em 10%;
}

.peca {
  padding: 1em 0;
}

.peca-titulo {
  color: var(--main-branco);
  text-transform: uppercase;
  font-size: 1.5em;
}

.controle {
  background: var(--main-preto);
  border-radius: 25px;
  float: right;
  display: inline-flex;
  padding: 5px;
  align-items: center;
  align-self: flex-end;
}

.controle-contador {
  width: 40px
    
    @media only screen and (max-width: 768px) {
main {
flex-direction: column;
margin: 10vh 4vw;
width: auto;
height: auto;
}

.robotron {
margin: 0 auto;
flex-basis: 100%;
}

.robo {
position: static;
height: auto;
width: 100%;
margin-bottom: 1em;
}

.botoes {
flex-direction: row;
justify-content: space-between;
width: 100%;
}

.titulo {
bottom: auto;
left: auto;
top: 5rem;
right: 5rem;
font-size: 3.5rem;
line-height: 1;
}

.box {
height: auto;
margin-top: 2em;
}

.equipamentos {
flex-basis: 100%;
margin-top: 2em;
}

.montador {
height: auto;
}

.montador-conteudo {
padding: 2em 5%;
}

.controle {
margin-top: 2em;
float: none;
align-self: center;
}

.controle-contador {
margin: 0 0.5rem;
}

.controle-ajuste {
width: 50px;
height: 50px;
font-size: 3em;
line-height: 50px;
}

.estatisticas {
flex-basis: 100%;
margin-top: 2em;
padding: 2em 1em 0;
}

.estatistica {
flex-direction: column;
align-items: center;
margin-bottom: 2em;
}

.estatistica-titulo {
order: 2;
margin-top: 1em;
text-align: center;
flex-basis: 100%;
border-bottom: none;
}

.estatistica-valor {
margin: 0;
order: 1;
text-align: center;
flex-basis: 100%;
}

.producao {
margin-top: 1em;
margin-right: 0;
float: none;
clear: both;
}
}
